.sub-header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: -50px auto 0;
}

.master-logo {
	position: absolute;
	top: 0;
	left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, -50%);
	background-color: #000;
	border-radius: 50%;
	color: #fff;
	width: 40px;
	height: 40px;
}

p {
	color: var(--darkGray);
}

.call-to-action {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 25px auto 0;
	width: 95%;
}

.btn-back-project {
	background-color: var(--darkCyan);
}

.bookmark-container {
	height: 44px;
	background-color: #f7fafa;
	border-radius: 20px;
	padding-right: 15px;
}

.btn-bookmark {
	color: #fff;
	padding: 0;
	margin-right: 10px;
	height: 44px;
	width: 44px;
	background-color: var(--darkCyan);
	border-radius: 50%;
}

.btn-bookmark + span {
	color: var(--darkCyan);
	font-weight: 500;
	font-size: 14px;
}
