.pledge-wrapper {
	margin: 20px auto;
}

.pledge-container {
	display: flex;
	justify-content: space-around;
	background-color: #fff;
}
.pledge-container * {
	flex: 1;
}
.pledge-container div:nth-child(2){
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	padding-left: 40px;
	margin-right: 40px;
}