.card {
	border: 1px solid #ccc;
	border-radius: 12px;
	padding: 30px;
	margin: 30px auto;
}

.out-of-stock {
	opacity: 0.4;
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.card-header p {
	color: var(--cyan);
}

.card-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.card-footer > h2 > span {
	font-size: 16px;
	font-weight: 300;
	color: var(--darkGray);
	margin-left: 10px;
}

.out-of-stock-btn {
	background-color: var(--darkGray);
	cursor: not-allowed;
}
.out-of-stock-btn:hover {
	background-color: var(--darkGray);
}