:root {
	--descktopHero: url(../../images/image-hero-desktop.jpg);
	--mobileHero: url(../../images/image-hero-mobile.jpg);
}

.hero {
	background-image: var(--descktopHero);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;

	height: 400px;
	display: flex;
	position: relative;
}
.hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
	height: 100%;
	width: 100%;
}

nav {
	margin: 0 auto;
	padding: 40px;
	width: 80%;
	z-index: 10;
}
.nav_conteiner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
nav li {
	padding: 0 10px;
}
nav a {
	text-decoration: none;
	color: #fff;
	font-weight: 400;
}
nav a:hover {
	color: var(--darkCyan);
}

.menu{
	display: none;
}

@media (max-width: 375px) {
	nav {
		margin: 0;
		padding: 35px 28px;
		width: 100%;
	}
	nav ul {
		display: none;
	}
	.menu {
		display: block;
	}
	.hero {
		background-image: var(--mobileHero);
		background-position: 0;
		height: 300px;
	}
}