.mobile_menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1000;
}

.menu_mobile_container {
	position: fixed;
	background: white;
	width: 84%;
	height: auto;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 12px;
}
.menu_mobile_container ul {
	width: 100%;
	display: block;
	z-index: 3000;
}
.menu_mobile_container li {
	padding: 20px;
}
.menu_mobile_container li:nth-child(2) {
	border-top: 2px solid var(--lightGray);
	border-bottom: 2px solid var(--lightGray);
}
.menu_mobile_container a {
	color: black;
	font-size: 1.2em;
	font-weight: 500;
}
