* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Commissioner", sans-serif;
}

:root {
	--cyan: hsl(176, 50%, 47%);
	--darkCyan: hsl(176, 72%, 28%);
	--black: hsl(0, 0%, 0%);
	--darkGray: hsl(0, 0%, 48%);
	--lightGray: hsl(0, 0%, 96%);
}

body {
	margin: 0 auto;
	font-family: "Commissioner", sans-serif;
	font-size: 16px;
	max-width: 1440px;
}

main {
	display: flex;
	flex-direction: column;
	background-color: var(--lightGray);
	padding-bottom: 100px;
}

section {
	padding: 35px;
	background-color: #fff;
	border-radius: 8px;
	width: 53%;
	min-width: 328px; /* mobile version */
}
section p {
	line-height: 1.8;
}

button {
	color: #fff;
	padding: 15px 35px;
	border: none;
	border-radius: 50px;
	font-weight: 500;
	background-color: var(--cyan);
	cursor: pointer;
}

button:hover {
	background-color: var(--darkCyan);
}

@media (max-width: 375px) {
	p {
		font-size: 0.9rem;
	}
	section {
		padding: 40px 22px;
	}
}
