.reward {
	border: 1px solid #ccc;
	border-radius: 12px;
	padding: 30px;
	margin: 30px auto;
}

.out_of_stock {
	pointer-events: none;
	opacity: 0.4;
}

.reward_header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.reward_header p {
	color: var(--cyan);
}

.reward_footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.reward_footer > h2 > span {
	font-size: 16px;
	font-weight: 300;
	color: var(--darkGray);
	margin-left: 10px;
}

.out_of_stock-btn,
.out_of_stock-btn:hover {
	background-color: var(--darkGray);
}

@media (max-width: 375px) {
	.reward {
		padding: 20px;
	}
	.reward_header {
		display:block;
	}
	.reward_header > h3 {
		font-size: 0.9rem;
		line-height: 1.8;
	}
	.reward_header p {
		font-weight: 500;
	}
	.reward_footer {
		display: block;
		margin-top: 20px;
	}
	.reward_footer > h2{
		font-size: 2rem;
		margin-bottom: 30px;
	}
}
